# Default ignored files
**/shelf/
**/.idea/
# Editor-based HTTP Client requests
**/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

node_modules/
.claude/
tsconfig.build.json
tsconfig.stories.tsbuildinfo
.turbo/